.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
}

.middle-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height:500px;
}

.text-font {
  color: #ffffff;
  font-size: 22px;
}

.footer-background {
  background-color: #004030;
  color: white;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.black {
  background-color: black;
}

.item {
  font-size: 24px;
}