.ui.borderless.topmenu.menu {
  background-color: #ffffff;
  box-shadow: none;
  border: none;
}

.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height:600px;
}

.text-font {
  color: #ffffff;
  font-size: 22px;
}

.padding {

}